.bg{
  background-color: rgba(17, 17, 17, 1);
}

.display-flex{
    display: flex;
}
.orange-color{
  background-color: rgba(230, 83, 60, 1);
}
.white-color{
  color: rgba(255, 255, 255, 1);
}
.black-color{
 background-color:  rgba(17, 17, 17, 1);
}
.navbar{
    justify-content: space-between;
    align-items: center;
    border: 10px;
    margin-right: 10px;
    gap: 10px;
  }
  .nav-names{
    margin-right: 20px;
    border: solid;
    border-radius: 30px;
    border-color:rgba(255, 255, 255, 0.5) ;border-width: 1px;
    margin-left: 5px;
  }
  .nav-items{
    text-decoration: none;
    list-style: none;
    gap: 10px;
    margin-right: 130px;
    font-weight: 100;
    padding-right: 5px;
    color: rgba(255, 255, 255, 1);
    
  }
  .brand{
    margin-left: 200px;
    font-size: 30px ;
    font-weight: 700;
    color: rgba(230, 83, 60, 1); 
  }
  .nav-home{
  background-color:rgba(230, 83, 60, 1) ;
  border-radius: 500px;
  }
  .banner-title{
    font-size: 50px;
    font-weight: 800;
    margin-left: 300px;
    color: rgba(255, 255, 255, 1);
  }
  .banner-description{
    color: rgba(255, 255, 255, 1);
    margin-left: 300px;
    margin-bottom:20px ;
    gap: 20px;
  }
  .banner-btn{
    padding: 5px 20px;
    
    justify-content:space-around;
    margin-left: 300px;
    border-radius: 20px;
    border-color:rgba(255, 255, 255, 1);
     }
     .btn-1{
      border-style: none;
     }
     .btn-2{
      margin-left: 5px;
     }
     .Habits{
      justify-content: center;
      text-align: center;
      margin-top: 50px;
     }
     .habits-title{
      font-size: 30px;
      font-weight: 600;
     }
     .habits-description{
      font-size: 5px;
      color: rgba(255, 255, 255, 0.5);
      
     }
     .habits-img{
     
      justify-content: space-between;
         }
         .image-1{
          border-radius: 50%;
          margin-right: 55px;
         }
         .image-2{
          border-radius: 50%;
          margin-left: 40px;
         }
         .image-3{
          border-radius: 50%;
          margin-left: 120px;
         }
         .image-4{
          border-radius: 50%;
          margin-left: 65px;
         }
     .img-title{
      text-align: center;
      justify-content: space-between;
      margin: 0 20px 0 20px;
      padding: 0 100px;
     }
     .title-1{
      margin-left: 100px;
     }
     .description-1{
      margin-left: 200px;
      margin-top: -20px;
     }
     .title-2{
      margin-right:-100px;
     }
     .description-2{
      margin-right: 120px;
      margin-top: -20px;
      margin-left: 50px;
     }
     .title-3{
      margin-right: -30px;
     }
     .description-3{
      margin-right: 160px;
      margin-top: -20px;
     }
     .title-4{
      margin-left: 50px;
     }
     .description-4{
      margin-top: -20px;
      margin-right: 20px;
     }
     .img-description{
       justify-content: space-between;
       color: rgba(255, 255, 255, 0.5);
      gap:10px
     }
     .box-title{
      font-size: 30px;
      font-weight: 600;
      margin-right: 150px;
     }
     
     .box-description{
      color: rgba(255, 255, 255, 0.5);
      margin-right: 150px;
       }
       .box-btn{
        margin-right: 150px;
        border-radius: 100px;
        background-color:  rgba(230, 83, 60, 1);
        border-style: none;
        color: white;
        padding: 5px 30px;
       }
     .box-image{
      justify-content: center;
     }
     .box-img{
      width: 250px;
      height: 150px;
      margin-right: 100px;
      justify-content: center;
     }
     .box{
      display: flex;
      justify-content: center;
      text-align: center;
      margin-top: 10px;
      align-items: center;
     }
     .run{
      margin: 100px 200px;
      padding: 40px 40px;
      background-color: #ffffff14;
     }
     @media screen and (max-width:576px) {
          
            .navbar,
            .banner,
            .Habits{
              flex-direction: column;
              text-align: center;
              justify-content: center;
              margin-right: 100px;
            }
          
     }